[
    {
        "tag": "ChatGPT",
        "protocol": "wireguard",
        "settings": {
            "secretKey": "YFYOAdbw1bKTHlNNi+aEjBM3BO7unuFC5rOkMRAz9XY=",
            "address": [
                "172.16.0.2/32",
                "2606:4700:110:8a36:df92:102a:9602:fa18/128"
            ],
            "peers": [
                {
                    "publicKey": "bmXOC+F1FxEMF9dyiK2H5/1SUtzH0JuVo51h2wPfgyo=",
                    "allowedIPs": [
                        "0.0.0.0/0",
                        "::/0"
                    ],
                    "endpoint": "engage.cloudflareclient.com:2408"
                }
            ],
            "reserved": [
                78,
                135,
                76
            ],
            "mtu": 1280
        }
    },
    {
        
        "tag": "Warp",
        "protocol": "socks",
        "settings": {
            "servers": [
                {
                    "address": "127.0.0.1",
                    "port": 40000,
                    "users": []
                }
            ]
        }
    },
    {
        "tag": "IPv4_out",
        "protocol": "freedom",
        "settings": {}
    },
    {
        "tag": "IPv6_out",
        "protocol": "freedom",
        "settings": {
            "domainStrategy": "UseIPv6"
        }
    },
    {
        "tag": "residential_proxy",
        "protocol": "socks",
        "settings": {
            "servers": [
                {
                    "address": "${RESIDENTIAL_PROXY_SERVER}",
                    "port": ${RESIDENTIAL_PROXY_PORT},
                    "users": [
                        {
                            "user": "${RESIDENTIAL_PROXY_USER}",
                            "pass": "${RESIDENTIAL_PROXY_PASS}",
                            "level": 1
                        }
                    ]
                }
            ]
        }
    },
    {
        "protocol": "blackhole",
        "tag": "block"
    }
]