{
    "domainStrategy": "AsIs",
    "rules": [
        {
            "type": "field",
            "domain": [
                "geosite:openai",
                "ip.gs"
            ],
            "outboundTag": "${CHATGPT_OUT}"
        },
        {
            "type": "field",
            "outboundTag": "block",
            "ip": [
                "geoip:private"
            ]
        },
        {
            "type": "field",
            "outboundTag": "block",
            "protocol": [
                "bittorrent",
                "BitTorrent protocol",
                "torrent",
                "SMTP",
                "Thunder"
            ]
        },
        {
            "type": "field",
            "outboundTag": "${DEFAULT_OUT}",
            "network": "udp,tcp"
        }
    ]
}