{
    "domainStrategy": "AsIs",
    "rules": [
        {
            "type": "field",
            "domain": [
                "geosite:openai"
            ],
            "outboundTag": "${CHATGPT_OUT}"
        },
        {
            "type": "field",
            "domain": [
                "geosite:netflix",
                "geosite:disney",
                "geosite:hulu",
                "geosite:primevideo",
                "geosite:cbs",
                "geosite:abc",
                "geosite:dmm",
                "geosite:fox",
                "geosite:bbc",
                "geosite:hbo",
                "geosite:bahamut",
                "geosite:4chan",
                "geosite:niconico",
                "geosite:pixiv",
                "geosite:abema",
                "geosite:viu",
                "geosite:bilibili"
            ],
            "outboundTag": "${MEDIA_OUT}"
        },
        {
            "type": "field",
            "outboundTag": "Block",
            "ip": [
                "geoip:private"
            ]
        },
        {
            "type": "field",
            "outboundTag": "Block",
            "protocol": [
                "bittorrent",
                "BitTorrent protocol",
                "torrent",
                "SMTP",
                "Thunder"
            ]
        },
        {
            "type": "field",
            "outboundTag": "${DEFAULT_OUT}",
            "network": "udp,tcp"
        }
    ]
}